In [3]:
### LIST
## Q1. Create a list of 5 random numbers and print the list.

l1=[2,3,4,5,8]

print("list:",l1)

list: [2, 3, 4, 5, 8]

In [5]:
## Q2. Insert 3 new values to the list and print the updated list.

l1.extend(["d47",66.89])
print("update list:",l1)

update list: [2, 3, 4, 5, 8, 'd47', 66.89]

In [7]:
## Try to use a for loop to print each element in the list.
for i in range (len(l1)):
    print (l1[i])

2
3
4
5
8
d47
66.89

In [13]:
### DICTIONARY
## Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

d1={"name":"john","age":25,"address":"newyork"}
print("dictionary:",d1)

dictionary: {'name': 'john', 'age': 25, 'address': 'newyork'}

In [15]:
## Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890

d1["phone"]='1234567890'
print("updated dictionery:",d1)

updated dictionery: {'name': 'john', 'age': 25, 'address': 'newyork', 'phone': '1234567890'}

In [19]:
### SET
## Q1.Create a set with values 1, 2, 3, 4, and 5.

st1={1,2,3,4,5}
print("set:",st1)

set: {1, 2, 3, 4, 5}

In [21]:
## Q2 Add the value 6 to the set created in Q1.
st1.add(6)
print("updated set:",st1)

updated set: {1, 2, 3, 4, 5, 6}

In [31]:
## Q3. Remove the value 3 from the set created in Q1.
st1.discard(3)
print ("updated set by removing :",st1)

updated set by removing : {1, 2, 4, 5, 6}

In [33]:
### TUPLE
## Q1. Create a tuple with values 1, 2, 3, and 4
t1=(1,2,3,4)
print("tuple :",t1)

tuple : (1, 2, 3, 4)

In [35]:
len(t1)
print("length of tuple:",t1)

length of tuple: (1, 2, 3, 4)